* {
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: green;
}

.menu-list { 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 25px;
    color: greenyellow;
  }
}

.sub-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: burlywood;
  height: 64px;
}

.sub-menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    a {
      text-decoration: none;
      font-size: 20px;
      color:chocolate;
    }
}

//Inicio del Accordion
.main-accordion-container {
  .accordion-item {
    background: #102758;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 10px 0 10px;

    .accordion-desc {
      display: none;
      background: rgb(223, 128, 128);
      padding: 15px;
      margin-top: 15px;
      width: 90%;
    }

    .accordion-title {
      color: rgb(169, 169, 204);
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: blanchedalmond;
    }

    &.tab-active {
      .accordion-desc {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}

//Inicio de Main
main{
  display: flex;
  border: 2px solid black;
  background-color: rgb(107, 185, 204) ;

  .container-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-container-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      p{
        text-align: justify;
        width: 90%;
        padding-bottom: 10px; 
        padding-top: 10px;       
      }
    }
    .container-1-img2{
      img{
        max-width: 360px;
        min-width: auto;
        max-height: 100px;
        min-height: auto;
        display: block;
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-radius: 10px;
        &:hover {
          transform: rotate(-2deg) scale(1.05) translatey(-40px);
        }
      }
    }
  }
}
//Fin de Main

//Inicio Cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

  .card-item {
    width: 31%;
    height: 400px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #FFFFFF;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      margin-bottom: 10px;
      max-height: 180;
      min-height: 180;
      display: flex;
    }
     .card-title{
       font-size: 18px;
       font-weight: bold;
       font-family: 'Helvetica';
       margin-bottom: 10px;
     }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;
    }

    .card-desc{
      font-family: 'Helvetica';
      font-size: 15px;
    }

    .card-cta{
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}
//Fin Cards

//Inicio Footer
.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: black;
  height: 120px;

  .footer-list{
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    display:  flex;
    flex-direction: column;
    justify-content: space-around;    
    p{
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }
  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    p{
      text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18px;
    }    
  }
}
//Final Footer

@media(max-width: 400px){
  //Inicio Footer
.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: black;
  height: 150px;

  .footer-list{
    display:  flex;
    flex-direction: column;
    align-items: center;
    p{
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
  }
  .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      font-size: 16px;
    }    
  }
}
//Final Footer
}

@media(max-width: 1250px){
  
  
  display: flex;
  border: 2px solid black;
  background-color: rgb(107, 185, 204) ;

  .container-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-container-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      p{
        text-align: justify;
        width: 90%;
        padding-bottom: 10px; 
        padding-top: 10px;       
      }
    }
    .container-1-img2{
      img{
        max-width: 360px;
        min-width: auto;
        max-height: 100px;
        min-height: auto;
        display: block;
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-radius: 10px;
        &:hover {
          transform: rotate(-2deg) scale(1.05) translatey(-40px);
        }
      }
    }
  }
}
//Fin de Main

@media(max-width: 700px){
  //Inicio Cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

  .card-item {
    width: 42%;
    height: 400px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #FFFFFF;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      margin-bottom: 5px;
      max-height: 200px;
      min-height: 200px;
      display: flex;
    }

    .card-title{
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-start;
    }
    .card-desc{
      font-family: 'Helvetica';
      font-size: 14px;
    }

    .card-cta{
      text-decoration: none;
      display: block;
      text-align: right;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}
//Fin Cards

//Inicio de Footer
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
    height: 100px;
  
    .footer-list{
      display:  flex;
      flex-direction: row;
      justify-content: space-around;    
      p{
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
    }
    .footer-info{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 20px;
      p{
        text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      font-size: 20px;
      }    
    }
  }
}

@media (min-width: 500px){
      .main-header{
        height: 400px;
        width: 100%;
        background: url('https://www.mercedes-benz.com/en/sports/esports/_jcr_content/root/slider/sliderchilditems/slideritem/image/MQ7-0-image-20190527125937/01-mercedes-benz-esports-3400x1440.jpeg') no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #00000061;
        }

        &:before{
          content: '';
        }

        .main-page-tittle{
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          position: absolute;
          z-index: 1;
          font-size: 50px;
          text-align: center;
          -webkit-text-stroke: 2px black;
        }
      }
}

@media (max-width: 500px){
    .main-header{
      height: 150px;
      width: 100%;
      background: url('https://campusrec.fsu.edu/wp-content/uploads/2020/08/IM-esports-logo.png') no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000061;
      }

      &:before{
        content: '';
      }

      .main-page-tittle{
        color: rgb(246, 141, 141);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        z-index: 1;
        font-size: 30px;
        text-align: center;
        -webkit-text-stroke: 2px black;
      }
    }
    .card-list {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      flex-wrap: wrap;
    
      .card-item {
        width: 85%;
        height: 370px;
        border-radius: 5px;
        padding-bottom: 10px;
        box-shadow: 2px 2px 11px -1px black;
        margin-bottom: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        background: #FFFFFF;
    
        &:hover {
          transform: scale(1.05);
        }
    
        img {
          width: 100%;
          margin-bottom: 5px;
          max-height: 200px;
          min-height: 200px;
          display: flex;
        }
        
        .card-title {
          font-size: 18px;
          font-weight: bold;
          font-family: 'Helvetica';
          margin-bottom: 10px;
        }

        .card-info {
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          flex: 1 0;
          justify-content: flex-start;
        }
        .card-desc{
          font-family: 'Helvetica';
          font-size: 14px;
        }
    
        .card-cta{
          text-decoration: none;
          display: block;
          text-align: right;
          font-family: 'Helvetica';
          font-size: 12px;
          border-top: solid 1px black;
          padding-top: 10px;
          margin-top: 20px;
        }
    
       
      }
    }
    //Fin Cards
    
}